In [1]:
%matplotlib inline

In [2]:
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
city_data_to_load = 'Resources/city_data.csv'
ride_data_to_load = 'Resources/ride_data.csv'

In [4]:
cities = pd.read_csv(city_data_to_load)
rides = pd.read_csv(ride_data_to_load)

In [9]:
cities.head()

           city  driver_count   type
0   Richardfort            38  Urban
1  Williamsstad            59  Urban
2   Port Angela            67  Urban
3    Rodneyfort            34  Urban
4   West Robert            39  Urban

In [10]:
rides.head()

                 city                 date   fare        ride_id
0  Lake Jonathanshire  2019-01-14 10:14:22  13.83  5739410935873
1  South Michelleport  2019-03-04 18:24:09  30.24  2343912425577
2  Port Samanthamouth  2019-02-24 04:29:00  33.44  2005065760003
3          Rodneyfort  2019-02-10 23:22:03  23.44  5149245426178
4          South Jack  2019-03-06 04:28:35  34.58  3908451377344

In [11]:
cities.count()

city            120
driver_count    120
type            120
dtype: int64

In [12]:
rides.count()

city       2375
date       2375
fare       2375
ride_id    2375
dtype: int64

In [13]:
cities.dtypes

city            object
driver_count     int64
type            object
dtype: object

In [14]:
cities['type'].unique()

array(['Urban', 'Suburban', 'Rural'], dtype=object)

In [15]:
sum(cities['type']=='Urban')

66

In [18]:
rides.dtypes

city        object
date        object
fare       float64
ride_id      int64
dtype: object

In [ ]:
pyber = pd.merge(rid)